.div {
    background-color: #F5F25D;
} 
#pic1 {
    height: 100px;
    width: 100px;
}
#pic2 {
    height: 250px;
    width: 250px;
}

#moretext {
    text-align: center;
    color: red;
    font-size: 50px;
}

#eventext {
    color: blue;
    font-size: 30px;
}